.X-Guide {
    text-align: none;
    text-decoration: underline;
    padding-bottom: 5px;
}
.Vertical-Link {
    border: "#040f13";
    border-width: "2px";
    border: double; 
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
}